.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.header-app {
  height: 60px;
}

.page-content {
  display: flex;
  flex: 1;
  overflow-y: auto;
}
.footer-app {
  height: 60px;
  background-color: black;
}
